<div class="text-red-500 text-sm text-center py-2 animate-shake">
  <%= message %>
</div>
<script>
  // Clear password on error
  document.dispatchEvent(new CustomEvent('payment:password-error'));
</script>
