<turbo-stream action="append" target="body">
  <template>
    <div class="fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-gray-800 text-white px-6 py-3 rounded-lg shadow-lg z-50 animate-fade-in whitespace-nowrap" data-controller="toast">
      <%= message %>
    </div>
  </template>
</turbo-stream>
